@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is made to create, edit, and manage bug reports for software development.<br />Developed using Microsoft Visual Studio 2019. <br />Uses ASP.NET/C#, SQL database, Entity Framework, MVC and ORM.</p>
