@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    416 Los Arbolitos Blvd<br />
    Oceanside, CA 92058<br />
    <abbr title="Phone">P:</abbr>
    760.560.7503
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:crivera8681@gmail.com">crivera8681@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>